.container{
    margin-top: 7%;  
    margin-left: 1px;
}
h1 {
    background-color: #778899;
    width: 25%; 
    margin-left : 45%; 
    border-radius: 25px;
}
h2{
    background-color: #778899;
    width: 25%; 
    margin-left : 45%; 
    border-radius: 25px;

}
h3{
    margin-left : 7%; 
 
}
p{
    color: maroon;  
}
#main{
    border-radius: 25px;    
    width: 100%;
    margin-left:6%;
    padding: 0px; 
}

table{
    margin-left: 29%;
}
td {
    padding: 10px ;
}

a{
    color: maroon;
}