* {
  box-sizing: border-box;
}
title{
  color: 	#A52A2A;
}

body {

  margin: 0;
  width: 100%;
  height: 80%;
  max-width: 100%;
  background-color: #fbead9;

} 
.login{
	text-align: center;
	padding:20px;
	width:50%;
	font-size: 30px;
	margin:10px auto;
	box-shadow:0px 0px 9px 1px #000000;
	background-color: #fbead9 ;
	border-radius:4px;

}
.login input[type="text"]{
  border: none;
  color: #000;
   font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 4%;
  border-radius: 10px;
  width: 100%;
  padding: 20px; 
  height: 10px;
  background-color: 	#C0C0C0;
}
.login input[type="password"]{
 border: none;
 color:#000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 4%;
  border-radius: 10px;
  width: 100%;
  padding: 20px; 
  height: 10px;
  background-color: 	#C0C0C0;
}
.login input[type="email"]{
 border: none;
 color:#000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 4%;
  border-radius: 10px;
  width: 100%;
  padding: 20px; 
  height: 10px;
  background-color: 	#C0C0C0;
}
.iagree,
.iagree a{
	opacity: 0.5;
	margin-bottom: 8%;
  font-family: Cairo;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  a{
  	float:right;
  }
}
.buttoncreate{
 width: 100%;
 border: none;
 height: 45px;
 border-radius: 10px;
 background-color: 	#A52A2A;
 width: 100%;
 font-family: Cairo;
 font-size: 18px;
 font-weight: bold; 
 font-style: normal;
 font-stretch: normal;
 line-height: 1.2;
 letter-spacing: normal;
 text-align: center;
 color: #ffffff;
}
.buttonlogin{
 width: 100%;
 height: 45px;
 border-radius: 10px ;
 background-color: 	#A52A2A;
 border:none;
 font-family: Cairo;
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.2;
 letter-spacing: normal;
 text-align: center;
 color: #fff;
}
.havent {
	position:relative;
	justify-content: center;
	text-align: center;
}
.havent a{
	display: inline-block;
	padding: 8% 2%;
	background-color: #fbead9;
	position: relative;
  text-decoration: none;
  font-family: Cairo;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: 	#A52A2A;
}