{% extends  'base.html' %}
{% load static %}

{% block content %} 
    <link rel="stylesheet" href="{% static 'css/camera.css' %}" type="text/css">    

    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap" class="btn btn-dark">Snap Photo</button>
    <button class="btn btn-dark" id="upload"> Upload Images  : <input type="file" ></button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <script type="text/javascript">
                // Elements for taking the snapshot
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');


                // Get access to the camera!
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                //video.src = window.URL.createObjectURL(stream);
                video.srcObject = stream;
                video.play();
            });
        }


                // Trigger photo take
                $(document).on("click", "#snap", function(event) {
                    event.preventDefault();

                    context.drawImage(video, 0, 0, 640, 480);
        //   const img = canvas.toDataURL('i``mage/png')  

                    const img = canvas.toDataURL('image/png');

                    $.ajax({
                        type: "POST",
                        url: "http://localhost:8081/predict/",
                        data: {images: img},
                        success:function(data_response){
                            window.location = 'http://127.0.0.1:8081/recommend/' + data_response;
                                        }

                    })
                });
               
        const input = document.querySelector('input[type ="file"]');
        input.addEventListener('change',function(e){
            console.log(input.files);
            const reader = new FileReader()
            reader.onload = function(){
                const img = reader.result;
                $.ajax({
                        type: "POST",
                        url: "http://localhost:8081/predict/",
                        data: {images: img},
                        success:function(data_response){
                            window.location = 'http://127.0.0.1:8081/recommend/' + data_response;
                                        }

                    })
                
                // document.body.appendChild(img)
            }   
            reader.readAsDataURL(input.files[0])

        },false)


    </script>
 

{% endblock %}
