<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <form method="POST" class="login">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="login">
    </form>
    If you don't have account register here  <a href="{%url 'register'}"><button>Register</button></a>
</body>
</html>