{% extends 'base.html'%}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <div class="container">

        <h1>SIGN IN</h1>
        
       <form method="POST" class="login">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-info" name="button">
            </form>
            <br>
            If you don't have account register here
            <br>
              <a href="{%url 'register' %}"><button class="btn btn-info">Register</button></a>
    </div>
{% endblock %}