{% extends 'base.html' %}
{% load static %}

{% block content %}
       <link rel="stylesheet" href="{% static 'css/recommendsong.css'%}">
        <div class="container">
        <div class="jumbotron jumbotron-fluid" id="main">
               
                <table>
                        {% for song in list %}
                        <tr>
                                <td class="fa fa-music">
                                       <a href="{{ song.link_of_song}}">{{ song.name}} by {{ song.artist }}</a> <br>
                                       Genre : {{ song.genre }}
                                </td>
                                

                                </td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
        </div>
        
       
{% endblock %}